<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"> </script>

</head>

<body>
    <!-- 
<label for="Name">Name :</label>
<input type="text">
<label for="Email">Email :</label>
<input type="text">
<label for="User">Password :</label>
<input type="password"> -->

    <section id='area' class="container" class="wrapper fadeInDown">
        <h1  class="vv" style="text-align: center"> SignUp</h1>
        <form id="my-form" class="login-form">
            <div class="details">
                <div class="msg"></div>

                <div class="card" class="form-group ">
                    <label for="name">Name : </label>
                    <input type="text" id="name" class="form-control" placeholder="Username " id="UserName">
                </div>
                <br>

                <div class="card" class="form-group log-status">
                    <label for="email">Email : </label>
                    <input type="text" id="email" class="form-control" placeholder="Email " id="UserName">
                </div>
                <br>

                <div class="card" class="form-group log-status">
                    <label for="password">Password : </label>
                    <input type="password" id="pas" class="form-control" placeholder="Password " id="UserName">
                </div>
                <br>



                <br>
            </div>
            <br>
            <br>

            <div class="btn">
                <button id="clickme" class="log-btn">SignUp</button>
            </div>
            <a href="C:\Users\ADMIN\Documents\ExpenseProject\Views\login.html"> LOGIN </a>
            </div>
        </form>
        <script src='ex.js'></script>
</body>

</html>




