<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"> </script>

</head>
<body>

    <div class="center">
        <h1>Login</h1>
        <form  id="login-form" >
          <div class="txt_field">
            <label>Email add</label>
            <input type="email" required name="email" id="email">
            <span></span>
            
          </div>
          <br>
          <div class="txt_field">
            <label>Password</label>

            <input type="password" required name="password" id="password">
            <span></span>
          </div>
          <!-- <div class="pass">Forgot Password?</div> -->
          <!-- <input type="submit" value="Login"  id="clickme" > -->
         
          <div class="btn">
            <button id="clickme">Login</button>
        </div>
      
          <div class="login_link">
            Already a member? <a href="C:\Users\ADMIN\Documents\ExpenseProject\Views\ex.html">Signup</a>
          </div>
        </form>
      </div>




    <script src='login.js'></script>

</body>
</html>